@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-dark: #2D2F32;
  --color-dark-green: #4E8265;
  --color-light-green: #7ED4A7;
  --color-mid-green: #758775;
  --color-light-grey: #F2F3F3;
}
